html, body, #c {
   margin: 0px;
   padding: 0px;
   height: 100%;
   width: 100%;
}

#c {
   position: absolute;
   top: 0;
   left: 0;
}

#box {
   width: calc(100% - 16px);
   width: 8vmin;
   height: 8vmin;
   border-radius: 50%;
   position: absolute;
   top: 0;
   right: 0;
   background-color: aquamarine;
}

#box p {
   font-size: 2vmin;
   text-align: center;
   margin-top: 2.5vmin;
}

#menu-container {
   position: absolute;
   top: 10px;
   right: 0;
   display: flex;
   align-items: flex-start;
}

#tab {
   background-color: #434c4f;
   color: #fff;
   padding: 10px;
   cursor: pointer;
   border-radius: 5px 0 0 5px;
   font-size: 1.5vmin;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bold;
}

#boundary {
   border: 1px solid #fff;
   width: 0;
   height: 200px;
   overflow: hidden;
   background-color: #434c4f;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10px;
   transition: width 0.5s ease, visibility 0.2s ease;
   visibility: hidden; /* Hide the content when closed */
}

#boundary.open {
   width: 200px;
   visibility: visible; / Show the content when open */
}

#controlMenuTitle {
   font-size: 1.5vmin;
   text-align: center;
   margin-top: 5px;
   color: #fff;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 100%;
}

.button-container button {
   width: 48%;
   margin-bottom: 5px;
   padding: 5px;
   font-size: 1vmin;
   font-weight: bold;
   border: none;
   border-radius: 3px;
   background-color: #fff;
   cursor: pointer;
}

.button-container input{
   width: 48%;
   margin-bottom: 5px;
   
   font-size: 1vmin;
   font-weight: bold;
   border: none;
   border-radius: 3px;
   background-color: #fff;
}

.button-container button:hover {
   background-color: #b33838;
   color: #fff;
   transition: .5s;
}